@import '../_variables';
@import '../_mixins';

.festive-button {
  display: block;
  padding: $button-padding;
  font-size: $button-font-size;
  font-family: $button-font-family;
  border: 1px solid $main-color;
  color: $main-color;
  background-color: $beige;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  line-height: $global-line-hight;
  margin: 8px;
  transition: 0.1s;
  border-radius: $button-border-radius;

  @media (max-width: $breakpoint-tablet-width) {
    padding: $button-padding-mobile;
    font-size: $button-font-size-mobile;
  }

  &:hover {
    background-color: $main-color;
    color: $white;
  }
}
