@import '../_variables';
@import '../_mixins';

.slider-nav {
  width: 100%;
  padding: 30px 0;
  max-width: $slider-max-width;
  text-align: center;

  display: flex;
  row-gap: 8px;
  column-gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  &__button {
    display: block;
    padding: $button-padding;
    font-size: $button-font-size;
    font-family: $button-font-family;
    border: 1px solid $main-color;
    background-color: $main-color;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: $global-line-hight;
    transition: 0.1s;
    border-radius: $button-border-radius;
    width: 38%;

    @media (max-width: $breakpoint-tablet-width) {
      padding: $button-padding-mobile;
      font-size: $button-font-size-mobile;
    }

    &:hover {
      color: $main-color;
      background-color: $white;
      border: 1px solid $white;
    }
  }
}
