@import '../_variables';
@import '../_mixins';

.slider-nav {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 12px 0;
  max-width: $slider-max-width;
  text-align: center;

  display: flex;
  row-gap: 8px;
  column-gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  @media (min-width: $breakpoint-mobile-width) {
    padding: 20px 0;
  }

  &__button {
    display: block;
    font-size: $button-font-size-mobile;
    font-family: $button-font-family;
    border: 1px solid $main-color;
    background-color: $main-color;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: $global-line-hight;
    transition: 0.1s;
    border-radius: $button-border-radius;
    padding: $button-padding-mobile;
    width: 46%;

    @media (min-width: $breakpoint-mobile-width) {
      width: 22%;
      font-size: $button-font-size;
      padding: $button-padding;
    }

    @media (min-width: $breakpoint-laptop-width) {
      width: 15%;
    }

    &:hover {
      color: $main-color;
      background-color: $white;
      border: 1px solid $white;
    }
  }
}
