@import '../_variables';
@import '../_mixins';

.c-zone_col {
  width: 100%;
}

.festive-slider {
  color: $main-color;
  background-color: $main-background-color;
  font-family: $main-font;
  font-size: $global-font-size;
  line-height: $global-line-hight;
  font-weight: $global-font-weight;
  letter-spacing: $global-letter-spacing;
  width: 100%;
  max-width: $slider-max-width;
  min-width: $baner-min-width;
  height: $slider-max-height;
  margin: 0 auto 40px;
  overflow: hidden;
  position: relative;
  text-align: center;

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint-tablet-width) {
      justify-content: center;
    }
  }

  &__video {
    width: auto;
    height: 500px;
    display: block;
    object-fit: cover;

    @media (max-width: $breakpoint-tablet-width) {
      height: 358px;
      margin-bottom: 10px;
    }
  }

  &__photo {
    display: block;

    @media (max-width: $breakpoint-tablet-width) {
      display: none;
    }
  }

  &__title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title-span {
    font-family: $second-font;
    font-size: 70px;
    font-weight: normal;
    line-height: 1.1;
    margin: 20px 0 8px;

    width: 100%;

    @media (max-width: $breakpoint-laptop-width) {
      font-size: 60px;
    }

    @media (max-width: $breakpoint-tablet-width) {
      font-size: 35px;
      margin: 8px 0 0;
    }

    @media (max-width: $breakpoint-small-mobile-width) {
      font-size: 31px;
    }
  }

  &__cta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $breakpoint-tablet-width) {
      top: auto;
      bottom: 35px;
    }
  }
}
