@import '../_variables';
@import '../_mixins';

.jf-button {
  font-family: $main-font;
  display: inline-block;
  padding: $button-padding;
  font-size: $button-font-size;
  border: 1px solid $main-color;
  color: $main-color;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  margin: 20px 10px 0;
  transition: 0.2s;
  border-radius: $button-border-radius;

  @media (max-width: $breakpoint-small-mobile-width) {
    padding: $button-padding-mobile;
  }

  &:hover {
    background-color: $main-color;
    color: $main-background-color;
  }
}
