@import '../_variables';
@import '../_mixins';

@font-face {
  font-family: 'Univers LT W05_55 Roman';
  src: url('https://fonts.pattyhell.com/fonts/7b452431-e4a6-48a8-8ba1-c6300f9384df.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue Black Extended';
  src: url('https://fonts.pattyhell.com/fonts/275e1e1e-08b1-4fe8-952b-5484d602fa4e.woff2')
    format('woff2');
}

.bf-doublebox {
  color: $main-color;
  background-color: $main-background-color;
  font-family: $main-font;
  font-size: $global-font-size;
  line-height: $global-line-hight;
  font-weight: $global-font-weight;
  letter-spacing: $global-letter-spacing;
  width: 100%;
  max-width: $doublebox-max-width;
  min-width: $baner-min-width;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $breakpoint-tablet-width) {
    max-width: 100%;
  }

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;

    @media (max-width: $breakpoint-mobile-width) {
      margin-bottom: 10px;
    }
  }

  &__video {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &__header {
    width: 100%;
  }

  &__title {
    display: block;
    color: $main-color;
    font-family: $second-font;
    font-size: 36px;
    margin: 0 0 -4px;
    line-height: 1.2;

    @media (max-width: $breakpoint-tablet-width) {
      font-size: 32px;
    }

    @media (max-width: $breakpoint-mobile-width) {
      font-size: 28px;
    }
  }

  &__cta {
    display: flex;
    justify-content: center;
  }
}
