@import '../_variables';
@import '../_mixins';

.doublebox {
  color: $main-color;
  background-color: $main-background-color;
  // font-family: $main-font;
  font-size: $global-font-size;
  line-height: $global-line-hight;
  font-weight: $global-font-weight;
  letter-spacing: $global-letter-spacing;
  width: 100%;
  max-width: $square-max-width;
  min-width: $baner-min-width;
  height: $square-max-height;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__video {
    position: absolute;
    left: 50%;
    top: 0;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    transform: translateX(-50%);
    object-fit: cover;
  }

  &__logo-container {
    margin-top: 40px;
    width: 22%;
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  &__title-container {
    width: 74%;
  }

  &__image-title {
    width: 100%;
    height: auto;
  }
}
