@import '../_variables';
@import '../_mixins';

.hp-button {
  display: block;
  font-family: $main-font;
  font-size: $button-font-size;
  line-height: $button-line-height;
  font-weight: 500;
  border-radius: $button-border-radius;
  color: $main-color;
  background-color: $main-background-color;
  text-decoration: none;
  border: 1px solid $black;
  padding: $button-padding;
  margin: 5px;

  @media (max-width: $breakpoint-laptop-width) {
    padding: $button-padding-tablet;
  }

  @media (max-width: $breakpoint-tablet-width) {
    width: 46%;
  }

  @media (max-width: $breakpoint-mobile-width) {
    width: 100%;
  }
}
