@import '../_variables';
@import '../_mixins';

@font-face {
  font-family: 'Univers LT W05_55 Roman';
  src: url('https://fonts.pattyhell.com/fonts/7b452431-e4a6-48a8-8ba1-c6300f9384df.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue Black Extended';
  src: url('https://fonts.pattyhell.com/fonts/275e1e1e-08b1-4fe8-952b-5484d602fa4e.woff2')
    format('woff2');
}

.bf-infobox {
  color: $main-color;
  background-color: $main-background-color;
  font-family: $main-font;
  font-size: $global-font-size;
  line-height: $global-line-hight;
  font-weight: $global-font-weight;
  letter-spacing: $global-letter-spacing;
  width: 100%;
  max-width: $infobox-max-width;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__video {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &__header {
    width: 100%;
    padding-top: 20px;
  }

  &__title {
    display: block;
    font-family: $second-font;
    font-size: $global-font-size-m;
    margin: 0;
    line-height: 1;
  }

  &__subtitle {
    display: block;
    font-family: $second-font;
    font-size: 22px;
  }

  &__bottom-paragraph {
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
  }

  &__paragraph {
    display: block;
    font-family: $second-font;
    font-size: 11px;
  }

  &__cta {
    display: flex;
    justify-content: center;
  }

  &__more-products {
    position: absolute;
    left: 16px;
    top: 16px;
  }

  &__more-products-image {
    width: 70px;
  }
}
