@import '../_variables';
@import '../_mixins';

@font-face {
  font-family: 'UniversLTPro-BoldExt';
  src: url('https://fonts.pattyhell.com/fonts/Linotype-UniversLTPro-BoldExt.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue Black Extended';
  src: url('https://fonts.pattyhell.com/fonts/bgvxn-a0zp2.woff2')
      format('woff2'),
    url('https://fonts.pattyhell.com/fonts/v4uo8-96xdb.woff') format('woff');
}

@font-face {
  font-family: 'Linotype-UniversLTPro-BlackExt';
  src: url('https://fonts.pattyhell.com/fonts/Linotype-UniversLTPro-BlackExt.woff2')
    format('woff2');
}

.c-zone_col {
  width: 100%;
}

.bf-slider {
  color: $main-color;
  background-color: $main-background-color;
  font-family: $main-font;
  font-size: $global-font-size;
  line-height: $global-line-hight;
  font-weight: $global-font-weight;
  letter-spacing: $global-letter-spacing;
  width: 100%;
  max-width: $slider-max-width;
  min-width: $baner-min-width;
  height: $slider-max-height;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__video {
    position: absolute;
    left: 50%;
    top: 0;
    width: auto;
    height: 100%;
    transform: translateX(-50%);

    object-fit: cover;
  }

  &__header {
    width: 100%;
    margin-top: 30px;
  }

  &__title {
    font-family: $second-font;
    font-size: $global-font-size-l;
    color: $main-color;
    margin: 0;

    @media (max-width: $breakpoint-laptop-width) {
      font-size: 60px;
    }

    @media (max-width: $breakpoint-tablet-width) {
      font-size: 47px;
    }

    @media (max-width: $breakpoint-mobile-width) {
      font-size: 38px;
    }

    @media (max-width: $breakpoint-small-mobile-width) {
      font-size: 32px;
    }
  }

  &__subtitle {
    font-family: $third-font;
    display: inline-block;
    // font-family: $second-font;
    font-size: $global-font-size-m;
    color: $main-color;
    margin: 0 0 15px;

    @media (max-width: $breakpoint-mobile-width) {
      font-size: 23px;
    }
  }

  &__description {
    width: 100%;
    font-size: $global-font-size-s;
    display: block;
    padding: 0 30%;

    @media (max-width: $breakpoint-laptop-width) {
      padding: 0 20%;
    }

    @media (max-width: $breakpoint-mobile-width) {
      padding: 0 10%;
    }
  }

  &__cta {
    display: flex;
    justify-content: center;
  }
}
