@import '../_variables';
@import '../_mixins';

.c-zone_col {
  width: 100%;
}

.xmas-slider {
  color: $main-color;
  background-color: $main-background-color;
  font-family: $main-font;
  font-size: $global-font-size;
  line-height: $global-line-hight;
  font-weight: $global-font-weight;
  letter-spacing: $global-letter-spacing;
  width: 100%;
  max-width: $slider-max-width;
  min-width: $baner-min-width;
  height: $slider-max-height;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint-tablet-width) {
      justify-content: center;
    }
  }

  &__video {
    width: auto;
<<<<<<< HEAD
    height: 600px;
    transform: translateX(-50%);

=======
    height: 500px;
    display: block;
>>>>>>> black-week
    object-fit: cover;

    @media (max-width: $breakpoint-tablet-width) {
      height: 330px;
    }
  }

  &__photo {
    display: block;

    @media (max-width: $breakpoint-tablet-width) {
      display: none;
    }
  }

  &__header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr;
  }

  &__title {
<<<<<<< HEAD
    font-family: $second-font;
    // font-size: $global-font-size-l;
    font-size: 50px;
    line-height: 1;
    color: $main-color;
    margin: 0;
=======
    font-size: 70px;
    margin: 20px 0 8px;

    grid-row: 1/2;
>>>>>>> black-week

    // @media (max-width: $breakpoint-laptop-width) {
    //   font-size: 60px;
    // }

    @media (max-width: $breakpoint-tablet-width) {
      font-size: 40px;
      margin: 8px 0 0;
    }

    @media (max-width: $breakpoint-mobile-width) {
      font-size: 38px;
    }

    @media (max-width: $breakpoint-small-mobile-width) {
      font-size: 32px;
    }
  }

  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-row: 5/6;

    @media (max-width: $breakpoint-tablet-width) {
      grid-row: 8/9;
    }
  }

  &__subtitle {
    font-size: 70px;
    margin: 20px 0 8px;

    grid-row: 9/10;

    @media (max-width: $breakpoint-laptop-width) {
      font-size: 60px;
    }

    @media (max-width: $breakpoint-tablet-width) {
      font-size: 40px;
      margin: 0;
    }

    @media (max-width: $breakpoint-mobile-width) {
      font-size: 38px;
    }

    @media (max-width: $breakpoint-small-mobile-width) {
      font-size: 32px;
    }
  }
}
