@import '../_variables';
@import '../_mixins';

.c-zone_col {
  width: 100%;
}

.jf-slider {
  color: $main-color;
  font-size: $global-font-size;
  line-height: $global-line-hight;
  font-weight: $global-font-weight;
  letter-spacing: $global-letter-spacing;
  width: 100%;
  max-width: $slider-max-width;
  min-width: $baner-min-width;
  height: $slider-max-height;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  background: url(../assets/images/jenny-fairy.jpg) $main-background-color
    no-repeat;

  @media (max-width: $breakpoint-laptop-width) {
    background: transparent;
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: $breakpoint-laptop-width) {
      justify-content: space-around;
    }
  }

  &__video {
    position: absolute;
    width: auto;
    height: calc(100% + 2px);
    top: 0;
    right: -80px;
    object-fit: cover;

    @media (max-width: $breakpoint-laptop-width) {
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }
  }

  &__logo-container {
    width: 13%;

    @media (max-width: $breakpoint-tablet-width) {
      width: 22%;
    }
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  &__title-container {
    width: 36%;

    @media (max-width: $breakpoint-tablet-width) {
      width: 74%;
    }
  }

  &__image-title {
    width: 100%;
    height: auto;
  }
}
