@import '../_variables';
@import '../_mixins';

.slider-nav {
  background-color: $main-background-color;
  width: 100%;
  max-width: $slider-max-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
  text-align: center;

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  &__title {
    color: $main-color;
    width: 100%;
    font-family: $main-font;
    font-size: $global-font-size-s;
    font-weight: normal;
    // text-transform: uppercase;
  }
}
