@font-face {
  font-family: 'Univers LT W05_55 Roman';
  src: url('https://fonts.pattyhell.com/fonts/7b452431-e4a6-48a8-8ba1-c6300f9384df.woff2')
    format('woff2');
}

@font-face {
  font-family: 'UniversLTPro-BoldExt';
  src: url('https://fonts.pattyhell.com/fonts/Linotype-UniversLTPro-BoldExt.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue Black Extended';
  src: url('https://fonts.pattyhell.com/fonts/275e1e1e-08b1-4fe8-952b-5484d602fa4e.woff2')
    format('woff2');
}
