// @font-face {
//   font-family: 'UniversLTPro-65Bold';
//   src: url('https://ccc-frontend.github.io/fonts/fonts/Linotype-UniversLTPro-65Bold.woff2')
//     format('woff2');
//   font-display: swap;
// }

@font-face {
  font-family: 'UniversLTPro-BoldExt';
  src: url('https://ccc-frontend.github.io/fonts/fonts/Linotype-UniversLTPro-BoldExt.woff2')
    format('woff2');
  font-display: swap;
}
